<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f21f9b95-cebf-47d2-9dd2-0fa8c7324ed6/resourceGroups/predictionmanasi/providers/Microsoft.Web/sites/predictionmanasi</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://predictionmanasi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>predictionmanasi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>predictionmanasi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$predictionmanasi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>