<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1d51ae09-380f-4912-a963-e57b9c44a215/resourceGroups/cloud-shell-storage-westus/providers/Microsoft.Web/sites/premtelco</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://premtelco.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>premtelco.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>premtelco</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$premtelco</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>